// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// Globals
$body-font-family: 'Nunito', serif;
$title-font: 'Nunito';
$font-size-root: 14px;
$main-color: #47b27a;
$breadcrumbs-padding: 15px 0;

@import '~vuetify/src/styles/styles.sass';



